## D - Importar las librerías necesarias

In [1]:
# import necessary libraries
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession

In [2]:
# create sparksession
spark = SparkSession \
.builder \
.appName("Pysparkexample") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

## D - Importar el dataset "BankChurners.csv" y crear un Spark Dataframe

In [3]:
df = spark.read.csv('BankChurners.csv', header='true', inferSchema = True)

## D - Obtener el número total de atributos del dataset

In [4]:
df.printSchema()

root
 |-- CLIENTNUM: integer (nullable = true)
 |-- Attrition_Flag: string (nullable = true)
 |-- Customer_Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dependent_count: integer (nullable = true)
 |-- Education_Level: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income_Category: string (nullable = true)
 |-- Card_Category: string (nullable = true)
 |-- Months_on_book: integer (nullable = true)
 |-- Months_Inactive_12_mon: integer (nullable = true)
 |-- Contacts_Count_12_mon: integer (nullable = true)
 |-- Credit_Limit: double (nullable = true)

## D - Obtener el número total de filas del dataset

In [5]:
df.count()

10127

### Muestra de la tabla

In [6]:
df.show(5)

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                     1|                    3|     12691.0|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                     1|                    2|      8256.0|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                     1|                    0|      3418.0|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                     4|                    1|      3313.0|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                     1|                    0|      4716.0|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
only showing top 5 rows

### Visualizamos las columnas con las que cuenta

In [7]:
df.columns

['CLIENTNUM',
 'Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit']

In [8]:
type(df)

pyspark.sql.dataframe.DataFrame

### Analizamos si alguna columna cuenta con valores nulos

In [9]:
df.filter(df.CLIENTNUM.isNull()).count()

0

In [10]:
df.filter(df.Attrition_Flag.isNull()).count()

0

In [11]:
df.filter(df.Customer_Age.isNull()).count()

0

In [12]:
df.filter(df.Gender.isNull()).count()

0

In [13]:
df.filter(df.Dependent_count.isNull()).count()

0

In [14]:
df.filter(df.Education_Level.isNull()).count()

0

In [15]:
df.filter(df.Marital_Status.isNull()).count()

0

In [16]:
df.filter(df.Income_Category.isNull()).count()

0

In [17]:
df.filter(df.Card_Category.isNull()).count()

0

In [18]:
df.filter(df.Months_on_book.isNull()).count()

0

In [19]:
df.filter(df.Months_Inactive_12_mon.isNull()).count()

0

In [20]:
df.filter(df.Contacts_Count_12_mon.isNull()).count()

0

In [21]:
df.filter(df.Credit_Limit.isNull()).count()

0

## visualizar las primeras 100 filas del dataset

In [22]:
df.createOrReplaceTempView("bankChurn")

In [23]:
spark.sql("SELECT * FROM bankChurn LIMIT 100").show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                     1|                    3|     12691.0|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                     1|                    2|      8256.0|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                     1|                    0|      3418.0|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                     4|                    1|      3313.0|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                     1|                    0|      4716.0|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                     1|                    2|      4010.0|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                     1|                    3|     34516.0|
|818906208|Existing Customer|          32|     M|              0|    High School|       Unknown|    $60K - $80K|       Silver|            27|                     2|                    2|     29081.0|
|710930508|Existing Customer|          37|     M|              3|     Uneducated|        Single|    $60K - $80K|         Blue|            36|                     2|                    0|     22352.0|
|719661558|Existing Customer|          48|     M|              2|       Graduate|        Single|   $80K - $120K|         Blue|            36|                     3|                    3|     11656.0|
|708790833|Existing Customer|          42|     M|              5|     Uneducated|       Unknown|        $120K +|         Blue|            31|                     3|                    2|      6748.0|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                     2|                    3|      9095.0|
|710599683|Existing Customer|          56|     M|              1|        College|        Single|   $80K - $120K|         Blue|            36|                     6|                    0|     11751.0|
|816082233|Existing Customer|          35|     M|              3|       Graduate|       Unknown|    $60K - $80K|         Blue|            30|                     1|                    3|      8547.0|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                     2|                    2|      2436.0|
|714885258|Existing Customer|          44|     M|              4|        Unknown|       Unknown|   $80K - $120K|         Blue|            37|                     1|                    2|      4234.0|
|709967358|Existing Customer|          48|     M|              4|  Post-Graduate|        Single|   $80K - $120K|         Blue|            36|                     2|                    3|     30367.0|
|753327333|Existing Customer|          41|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            34|                     4|                    1|     13535.0|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                     2|                    3|      3193.0|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|        Unknown|         Blue|            37|                     1|                    2|     14470.0|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
only showing top 20 rows

## visualizar el dataset utilizando un método descriptivo

#### cantidad de registros que tiene cada variable

In [29]:
spark.sql("SELECT Attrition_Flag, count(*) FROM bankChurn group by Attrition_Flag").show()

+-----------------+--------+
|   Attrition_Flag|count(1)|
+-----------------+--------+
|Existing Customer|    8500|
|Attrited Customer|    1627|
+-----------------+--------+

In [32]:
spark.sql("SELECT Customer_Age, count(*) FROM bankChurn GROUP BY Customer_Age ORDER BY Customer_Age").show()

+------------+--------+
|Customer_Age|count(1)|
+------------+--------+
|          26|      78|
|          27|      32|
|          28|      29|
|          29|      56|
|          30|      70|
|          31|      91|
|          32|     106|
|          33|     127|
|          34|     146|
|          35|     184|
|          36|     221|
|          37|     260|
|          38|     303|
|          39|     333|
|          40|     361|
|          41|     379|
|          42|     426|
|          43|     473|
|          44|     500|
|          45|     486|
+------------+--------+
only showing top 20 rows

In [33]:
spark.sql("SELECT Gender, count(*) FROM bankChurn GROUP BY Gender").show()

+------+--------+
|Gender|count(1)|
+------+--------+
|     F|    5358|
|     M|    4769|
+------+--------+

In [34]:
spark.sql("SELECT Dependent_count, count(*) FROM bankChurn GROUP BY Dependent_count ORDER BY Dependent_count").show()

+---------------+--------+
|Dependent_count|count(1)|
+---------------+--------+
|              0|     904|
|              1|    1838|
|              2|    2655|
|              3|    2732|
|              4|    1574|
|              5|     424|
+---------------+--------+

In [35]:
spark.sql("SELECT Education_Level, count(*) FROM bankChurn GROUP BY Education_Level").show()

+---------------+--------+
|Education_Level|count(1)|
+---------------+--------+
|    High School|    2013|
|        Unknown|    1519|
|     Uneducated|    1487|
|  Post-Graduate|     516|
|      Doctorate|     451|
|       Graduate|    3128|
|        College|    1013|
+---------------+--------+

In [36]:
spark.sql("SELECT Marital_Status, count(*) FROM bankChurn GROUP BY Marital_Status").show()

+--------------+--------+
|Marital_Status|count(1)|
+--------------+--------+
|       Unknown|     749|
|       Married|    4687|
|      Divorced|     748|
|        Single|    3943|
+--------------+--------+

In [38]:
spark.sql("SELECT Income_Category, count(*) FROM bankChurn GROUP BY Income_Category").show()

+---------------+--------+
|Income_Category|count(1)|
+---------------+--------+
|        $120K +|     727|
|    $60K - $80K|    1402|
|   $80K - $120K|    1535|
|        Unknown|    1112|
|    $40K - $60K|    1790|
| Less than $40K|    3561|
+---------------+--------+

In [40]:
spark.sql("SELECT Card_Category, count(*) FROM bankChurn GROUP BY Card_Category").show()

+-------------+--------+
|Card_Category|count(1)|
+-------------+--------+
|     Platinum|      20|
|       Silver|     555|
|         Blue|    9436|
|         Gold|     116|
+-------------+--------+

In [41]:
spark.sql("SELECT Months_on_book, count(*) FROM bankChurn GROUP BY Months_on_book ORDER BY Months_on_book").show()

+--------------+--------+
|Months_on_book|count(1)|
+--------------+--------+
|            13|      70|
|            14|      16|
|            15|      34|
|            16|      29|
|            17|      39|
|            18|      58|
|            19|      63|
|            20|      74|
|            21|      83|
|            22|     105|
|            23|     116|
|            24|     160|
|            25|     165|
|            26|     186|
|            27|     206|
|            28|     275|
|            29|     241|
|            30|     300|
|            31|     318|
|            32|     289|
+--------------+--------+
only showing top 20 rows

In [42]:
spark.sql("SELECT Months_Inactive_12_mon, count(*) FROM bankChurn GROUP BY Months_Inactive_12_mon ORDER BY Months_Inactive_12_mon").show()

+----------------------+--------+
|Months_Inactive_12_mon|count(1)|
+----------------------+--------+
|                     0|      29|
|                     1|    2233|
|                     2|    3282|
|                     3|    3846|
|                     4|     435|
|                     5|     178|
|                     6|     124|
+----------------------+--------+

In [43]:
spark.sql("SELECT Contacts_Count_12_mon, count(*) FROM bankChurn GROUP BY Contacts_Count_12_mon ORDER BY Contacts_Count_12_mon").show()

+---------------------+--------+
|Contacts_Count_12_mon|count(1)|
+---------------------+--------+
|                    0|     399|
|                    1|    1499|
|                    2|    3227|
|                    3|    3380|
|                    4|    1392|
|                    5|     176|
|                    6|      54|
+---------------------+--------+

In [51]:
spark.sql("SELECT Credit_Limit, COUNT(*) FROM bankChurn GROUP BY Credit_Limit ORDER BY COUNT(*) DESC LIMIT 10").show()

+------------+--------+
|Credit_Limit|count(1)|
+------------+--------+
|     34516.0|     508|
|      1438.3|     507|
|     15987.0|      18|
|      9959.0|      18|
|     23981.0|      12|
|      3735.0|      11|
|      6224.0|      11|
|      2490.0|      11|
|      7469.0|      10|
|      2069.0|       8|
+------------+--------+

## seleccionar las 5 primeras columnas usando sintaxis de python, aplicando un filtro por el atributo Marital_Status = Married

In [24]:
df_filtrado = df.filter(df.Marital_Status == 'Married').show()

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                     1|                    3|     12691.0|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                     1|                    0|      3418.0|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                     1|                    0|      4716.0|
|713061558|Existing Customer|          44|     M|              2|       Graduate|       Married|    $40K - $60K|         Blue|            36|                     1|                    2|      4010.0|
|810347208|Existing Customer|          51|     M|              4|        Unknown|       Married|        $120K +|         Gold|            46|                     1|                    3|     34516.0|
|710821833|Existing Customer|          65|     M|              1|        Unknown|       Married|    $40K - $60K|         Blue|            54|                     2|                    3|      9095.0|
|712396908|Existing Customer|          57|     F|              2|       Graduate|       Married| Less than $40K|         Blue|            48|                     2|                    2|      2436.0|
|753327333|Existing Customer|          41|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            34|                     4|                    1|     13535.0|
|806160108|Existing Customer|          61|     M|              1|    High School|       Married|    $40K - $60K|         Blue|            56|                     2|                    3|      3193.0|
|709327383|Existing Customer|          45|     F|              2|       Graduate|       Married|        Unknown|         Blue|            37|                     1|                    2|     14470.0|
|708508758|Attrited Customer|          62|     F|              0|       Graduate|       Married| Less than $40K|         Blue|            49|                     3|                    3|      1438.3|
|784725333|Existing Customer|          41|     M|              3|    High School|       Married|    $40K - $60K|         Blue|            33|                     2|                    1|      4470.0|
|789124683|Existing Customer|          54|     M|              2|        Unknown|       Married|   $80K - $120K|         Blue|            42|                     2|                    3|     12217.0|
|804424383|Existing Customer|          63|     M|              1|        Unknown|       Married|    $60K - $80K|         Blue|            56|                     3|                    2|     10215.0|
|806624208|Existing Customer|          47|     M|              4|    High School|       Married|    $40K - $60K|         Blue|            42|                     0|                    0|      4785.0|
|778348233|Existing Customer|          53|     M|              3|        Unknown|       Married|   $80K - $120K|         Blue|            33|                     2|                    3|      2753.0|
|712991808|Existing Customer|          53|     M|              2|     Uneducated|       Married|    $60K - $80K|         Blue|            48|                     5|                    1|      2451.0|
|709029408|Existing Customer|          41|     M|              4|       Graduate|       Married|    $60K - $80K|         Blue|            36|                     1|                    2|      8923.0|
|788658483|Existing Customer|          53|     F|              2|        College|       Married| Less than $40K|         Blue|            38|                     2|                    3|      2650.0|
|787937058|Existing Customer|          58|     M|              0|       Graduate|       Married|   $80K - $120K|         Blue|            49|                     2|                    2|     12555.0|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
only showing top 20 rows