## D - Importar las librerías necesarias

In [2]:
# import necessary libraries
import pandas as pd
import numpy
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession

In [3]:
# create sparksession
spark = SparkSession \
.builder \
.appName("Pysparkexample") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

## D - Importar el dataset "BankChurners.csv" y crear un Spark Dataframe

In [4]:
df = spark.read.csv('BankChurners.csv', header='true', inferSchema = True)

## D - Obtener el número total de atributos del dataset

In [5]:
df.printSchema()

root
 |-- CLIENTNUM: integer (nullable = true)
 |-- Attrition_Flag: string (nullable = true)
 |-- Customer_Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Dependent_count: integer (nullable = true)
 |-- Education_Level: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income_Category: string (nullable = true)
 |-- Card_Category: string (nullable = true)
 |-- Months_on_book: integer (nullable = true)
 |-- Months_Inactive_12_mon: integer (nullable = true)
 |-- Contacts_Count_12_mon: integer (nullable = true)
 |-- Credit_Limit: double (nullable = true)

## D - Obtener el número total de filas del dataset

In [6]:
df.count()

10127

### Muestra de la tabla

In [9]:
df.show(5)

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                     1|                    3|     12691.0|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                     1|                    2|      8256.0|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                     1|                    0|      3418.0|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                     4|                    1|      3313.0|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                     1|                    0|      4716.0|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+----------------------+---------------------+------------+
only showing top 5 rows

### Visualizamos las columnas con las que cuenta

In [8]:
df.columns

['CLIENTNUM',
 'Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit']

In [17]:
type(df)

pyspark.sql.dataframe.DataFrame

### Analizamos si alguna columna cuenta con valores nulos

In [24]:
df.filter(df.CLIENTNUM.isNull()).count()

0

In [25]:
df.filter(df.Attrition_Flag.isNull()).count()

0

In [27]:
df.filter(df.Customer_Age.isNull()).count()

0

In [28]:
df.filter(df.Gender.isNull()).count()

0

In [29]:
df.filter(df.Dependent_count.isNull()).count()

0

In [30]:
df.filter(df.Education_Level.isNull()).count()

0

In [31]:
df.filter(df.Marital_Status.isNull()).count()

0

In [32]:
df.filter(df.Income_Category.isNull()).count()

0

In [33]:
df.filter(df.Card_Category.isNull()).count()

0

In [34]:
df.filter(df.Months_on_book.isNull()).count()

0

In [35]:
df.filter(df.Months_Inactive_12_mon.isNull()).count()

0

In [36]:
df.filter(df.Contacts_Count_12_mon.isNull()).count()

0

In [37]:
df.filter(df.Credit_Limit.isNull()).count()

0